@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
	font-family: MontserratItelic;
	src: url(../fonts/Montserrat-MediumItalic.otf);
}
@font-face {
	font-family: MontserratBlack;
	src: url(../fonts/Montserrat-Black.otf);
}
@font-face {
	font-family: MontserratLight;
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: MontserratSemiBold;
	src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
	font-family: Zagolovok;
	src: url(../fonts/Zagolovok.ttf);
}
@font-face {
	font-family: Bitter;
	src: url(../fonts/Bitter-Bold.otf);
}
@font-face {
	font-family: BitterRegular;
	src: url(../fonts/Bitter-Regular.otf);
}
@font-face {
	font-family: BitterItalic;
	src: url(../fonts/Bitter-Italic.otf);
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background:#212121;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}
/*cross menu*/
.nav-toggle {
		position: absolute;
    display: inline-block;
    z-index: 999;
    width: 40px;
    height: 30px;
    top: 45px;
    right: 60px;
    cursor: pointer;
	}
	.nav-toggle span {
		position: absolute;
		left: 0;
		top: 10px;
	}
	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
		cursor: pointer;
    border-radius: 1px;
    height: 7px;
    width: 50px;
    background: white;
    position: absolute;
    display: block;
    content: '';
	}
	.nav-toggle span:before {
		top: -10px;
	}
	.nav-toggle span:after {
		bottom: -10px;
	}
	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
		transition: all 300ms ease-in-out;
	}
	.nav-toggle.active span {
		background-color: transparent;
	}
	.nav-toggle.active span:before, .nav-toggle.active span:after {
		top: 0;
	}
	.nav-toggle.active span:before {
		transform: rotate(45deg);
	}
	.nav-toggle.active span:after {
		transform: rotate(-45deg);
	}
/*cross menu end*/

.menu{
	width:40%;
	height:100%;
	background-color:green;
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
	opacity: 1;
    visibility: visible;
    -ms-animation-name: fadeInRight;
    -moz-animation-name: fadeInRight;
    -op-animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -ms-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -op-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;	

}

.menuout{
	width:40%;
	height:100%;
	background-color:green;
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
    -ms-animation-name: fadeOutRight;
    -moz-animation-name: fadeOutRight;
    -op-animation-name: fadeOutRight;
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -ms-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -op-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;	
	
}


















    width: 70%;
    height: 85%;
    margin: 15% auto 0% auto;
    text-align: center;
    opacity: 1;
    visibility: visible;
    -ms-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -op-animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -ms-animation-duration: 700ms;
    -moz-animation-duration: 700ms;
    -op-animation-duration: 700ms;
    -webkit-animation-duration: 700ms;
    animation-duration: 700ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;




